# auto-install-peers=true
# strict-peer-dependencies=false
# shamefully-hoist=true
# china registry
registry=https://registry.npmmirror.com

# scope with private registry
# @xxxx:registry=http://registry.private-xxxxxx.com/

# auth with token, token generate: `echo -n 'myuser:mypassword' | openssl base64`
# //registry.npmxxxxxxx.com/:_authToken=xxxx

